.button-container {
  margin: 2em 0;
}

.button,
.button-look {
  text-decoration: none;
  font-weight: $strong-weight;
  background-color: black;
  color: white;
  border: solid 2px;
  border-radius: 2em;
  padding: 1em;
  margin-right: 1em;
  margin-left: 0;
}
