/* General Colors */
/* General Typography */
/* Hidden H1 */
/* line 3, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_accessibility.scss */
h1 {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

/* Focus */
/* line 20, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_accessibility.scss */
:focus {
  border: 2px dotted aquamarine;
}

/* Skip Button */
/* line 26, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_accessibility.scss */
.skip-to-content-link {
  background: black;
  height: fit-content;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-120%);
  transition: transform 0.3s;
}

/* line 36, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_accessibility.scss */
.skip-to-content-link:focus {
  transform: translateY(0%);
}

/* Open a new tab Links */
/* line 42, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_accessibility.scss */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

/* Bigger Radio Buttons */
/* line 57, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_accessibility.scss */
.radio-button {
  width: 1.5em !important;
  height: 1.5em !important;
}

/* line 62, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_accessibility.scss */
.form-adding-lang {
  height: 2em !important;
  width: 20em !important;
}

/* line 67, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_accessibility.scss */
.form-correcting-lang {
  height: 2em !important;
  width: auto;
}

/* line 1, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_buttons.scss */
.button-container {
  margin: 2em 0;
}

/* line 5, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_buttons.scss */
.button,
.button-look {
  text-decoration: none;
  font-weight: 700;
  background-color: black;
  color: white;
  border: solid 2px;
  border-radius: 2em;
  padding: 1em;
  margin-right: 1em;
  margin-left: 0;
}

/* noto-sans-regular - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/noto-sans-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/noto-sans-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/noto-sans-v27-latin-regular.woff2") format("woff2"), url("fonts/noto-sans-v27-latin-regular.woff") format("woff"), url("fonts/noto-sans-v27-latin-regular.ttf") format("truetype"), url("fonts/noto-sans-v27-latin-regular.svg#NotoSans") format("svg");
  /* Legacy iOS */
}

/* noto-sans-700 - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/noto-sans-v27-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/noto-sans-v27-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/noto-sans-v27-latin-700.woff2") format("woff2"), url("fonts/noto-sans-v27-latin-700.woff") format("woff"), url("fonts/noto-sans-v27-latin-700.ttf") format("truetype"), url("fonts/noto-sans-v27-latin-700.svg#NotoSans") format("svg");
  /* Legacy iOS */
}

/* noto-sans-arabic-regular - arabic */
@font-face {
  font-family: "Noto Sans Arabic";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/noto-sans-arabic-v18-arabic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/noto-sans-arabic-v18-arabic-regular.eot?#iefix") format("embedded-opentype"), url("fonts/noto-sans-arabic-v18-arabic-regular.woff2") format("woff2"), url("fonts/noto-sans-arabic-v18-arabic-regular.woff") format("woff"), url("fonts/noto-sans-arabic-v18-arabic-regular.ttf") format("truetype"), url("fonts/noto-sans-arabic-v18-arabic-regular.svg#NotoSansArabic") format("svg");
  /* Legacy iOS */
}

/* noto-sans-arabic-700 - arabic */
@font-face {
  font-family: "Noto Sans Arabic";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/noto-sans-arabic-v18-arabic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/noto-sans-arabic-v18-arabic-700.eot?#iefix") format("embedded-opentype"), url("fonts/noto-sans-arabic-v18-arabic-700.woff2") format("woff2"), url("fonts/noto-sans-arabic-v18-arabic-700.woff") format("woff"), url("fonts/noto-sans-arabic-v18-arabic-700.ttf") format("truetype"), url("fonts/noto-sans-arabic-v18-arabic-700.svg#NotoSansArabic") format("svg");
  /* Legacy iOS */
}

/* line 1, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_footer.scss */
footer {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: black;
  color: white;
}

/* line 1, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_forms.scss */
.form-container {
  margin-top: 1em;
  padding: 2em;
  border-radius: 2em;
  width: fit-content;
  background-color: black;
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
}

/* line 6, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_forms.scss */
.form-container h3 {
  margin-top: 0;
}

/* line 13, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_forms.scss */
.form-container .form-submit-correction,
.form-container .form-submit-suggestion {
  padding: 1em 0;
}

/* line 1, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_header.scss */
header {
  background: black;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

/* line 10, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_header.scss */
header #logo-header {
  border-bottom: none !important;
  font-size: 150%;
  color: white;
}

/* line 16, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_header.scss */
header .main-menu-container {
  grid-column-start: 2;
}

/* line 18, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_header.scss */
header .main-menu-container .main-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

/* Hero Banner */
/* line 3, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_images.scss */
.hero-container .hero-img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

/* Google Map */
/* line 12, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_images.scss */
iframe {
  width: 100%;
  height: 600px;
}

@media only screen and (max-width: 1200px) {
  /* line 2, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_responsive.scss */
  header,
  main,
  footer {
    padding: 1em !important;
  }
  /* line 7, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_responsive.scss */
  header {
    grid-template-columns: 1fr;
  }
  /* line 9, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_responsive.scss */
  header #logo-header {
    grid-column: 1/3;
  }
  /* line 12, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_responsive.scss */
  header .main-menu-container {
    grid-column-start: 1 !important;
  }
  /* line 14, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_responsive.scss */
  header .main-menu-container .main-menu {
    display: inline-grid;
  }
  /* line 21, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_responsive.scss */
  .hero-container .hero-img {
    height: 20vh;
  }
  /* line 26, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_responsive.scss */
  main {
    grid-template-columns: 1fr;
  }
  /* line 28, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_responsive.scss */
  main .article {
    grid-column: 1/3;
  }
  /* line 32, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_responsive.scss */
  .table-container {
    overflow: auto;
  }
  /* line 36, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_responsive.scss */
  .ressources,
  .form-container,
  .table-container {
    margin-top: 3em;
    grid-column-start: 1 !important;
    grid-column: 1/3;
  }
  /* line 44, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_responsive.scss */
  .en {
    white-space: normal !important;
  }
}

/* line 1, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_tables.scss */
.table-container {
  grid-column-start: 1;
}

/* line 4, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_tables.scss */
table {
  border-spacing: 0px;
}

/* line 6, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_tables.scss */
table th {
  padding: 1em;
}

/* line 9, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_tables.scss */
table th pre:before {
  content: "<";
}

/* line 12, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_tables.scss */
table th pre:after {
  content: ">";
}

/* line 18, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_tables.scss */
table tr:nth-child(even) {
  background-color: #2b2b44;
}

/* line 22, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_tables.scss */
table td {
  margin: 0;
  padding: 1em;
}

/* line 28, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_tables.scss */
table + span {
  margin-top: 0 !important;
}

/* line 1, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_typography.scss */
.pretitle {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 75%;
  margin-top: 4em;
}

/* line 7, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_typography.scss */
.pretitle + h2,
.pretitle + h3 {
  margin-top: 0;
}

/* line 13, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_typography.scss */
h2,
h3,
h4 {
  text-transform: capitalize;
  margin-top: 3rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* line 22, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_typography.scss */
p,
ul {
  font-size: 1rem;
  margin: 1em 0;
  letter-spacing: 0.5px;
}

/* line 29, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_typography.scss */
a {
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid;
}

/* line 33, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_typography.scss */
a:hover {
  border-bottom: none;
  transition: ease-in 0.3s;
}

/* line 39, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_typography.scss */
.en {
  white-space: nowrap;
}

/* Ratio Scale */
/* line 69, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_typography.scss */
h4,
.h4 {
  font-size: 1.25rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(1rem, 4.25vw + 1rem, 1.25rem);
}

/* line 69, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_typography.scss */
h3,
.h3 {
  font-size: 1.5625rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(1.04688rem, 4.51562vw + 1rem, 1.5625rem);
}

/* line 69, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_typography.scss */
h2,
.h2 {
  font-size: 1.95312rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(1.30859rem, 4.64453vw + 1rem, 1.95312rem);
}

/* line 69, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_typography.scss */
h1,
.h1 {
  font-size: 2.44141rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-size: clamp(1.63574rem, 4.80566vw + 1rem, 2.44141rem);
}

/* line 7, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.latin .pretitle,
.latin a,
.latin pre {
  color: fuchsia;
}

/* line 13, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.latin input {
  accent-color: fuchsia;
}

/* line 17, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.latin .ressources {
  border: solid 2px fuchsia;
}

/* line 23, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.latin .button:hover,
.latin .button-look:hover {
  color: black !important;
  background-color: fuchsia;
  border: 2px solid fuchsia;
}

/* line 7, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.arabic .pretitle,
.arabic a,
.arabic pre {
  color: tomato;
}

/* line 13, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.arabic input {
  accent-color: tomato;
}

/* line 17, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.arabic .ressources {
  border: solid 2px tomato;
}

/* line 23, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.arabic .button:hover,
.arabic .button-look:hover {
  color: black !important;
  background-color: tomato;
  border: 2px solid tomato;
}

/* line 37, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.latin {
  direction: ltr;
}

/* line 37, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.arabic {
  direction: rtl;
}

/* line 47, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.latin {
  font-family: "Noto Sans";
}

/* line 47, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.arabic {
  font-family: "Noto Sans Arabic";
}

/* line 57, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.latin {
  font-size: 16px;
}

/* line 57, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.arabic {
  font-size: 18px;
}

/* line 67, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.latin {
  line-height: 1.75;
}

/* line 67, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.arabic {
  line-height: 2;
}

/* line 77, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.latin {
  letter-spacing: 0.5px;
}

/* line 77, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.arabic {
  letter-spacing: 0px;
}

/* line 87, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.article.latin {
  max-width: 80ch;
}

/* line 87, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.article.arabic {
  max-width: 50ch;
}

/* line 97, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
header.latin,
main.latin,
footer.latin {
  padding-left: 15%;
}

/* line 97, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
header.arabic,
main.arabic,
footer.arabic {
  padding-right: 15%;
}

/* line 110, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.article.latin {
  margin-right: 2rem;
}

/* line 110, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
.article.arabic {
  margin-left: 2rem;
}

/* line 120, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
header.latin,
main.latin,
footer.latin {
  padding-right: 3rem;
}

/* line 120, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
header.arabic,
main.arabic,
footer.arabic {
  padding-left: 3rem;
}

/* line 134, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
table.latin th {
  text-align: left;
}

/* line 134, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/_lang.scss */
table.arabic th {
  text-align: right;
}

/* line 14, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/style.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

/* line 21, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/style.scss */
html {
  color: white;
  background-color: #171725;
  overflow-wrap: break-word;
  hyphens: none;
}

/* line 28, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/style.scss */
main {
  padding-top: 3rem;
  padding-bottom: 6rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* line 35, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/style.scss */
main table,
main form {
  grid-column-start: 1;
}

/* line 41, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/style.scss */
.ressources {
  border-radius: 2em;
  padding: 3em;
  height: fit-content;
  grid-column-start: 2;
}

/* line 46, ../../../../../Users/roxanneborloz/CAB/Module 1/Epic 2 (Script)/Epic 2_scout/scss/style.scss */
.ressources h3 {
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */